<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>商品已成功加入购物车</title>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/swiper.min.js"></script>
    <script src="http://cart.gulimall.com/static/cart/js/swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart//css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart//bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="http://cart.gulimall.com/static/cart//css/success.css"/>

</head>

<body>
<!--头部-->
<div class="alert-info">
    <div class="hd_wrap_top">
        <ul class="hd_wrap_left">
            <li class="hd_home"><i class="glyphicon glyphicon-home"></i>
                <a href="http://gulimall.com/">谷粒商城首页</a>
            </li>

        </ul>

        <ul class="hd_wrap_right">
            <li>
                <a th:if="${session.loginUser == null}" href="http://cart.gulimall.comhttp://auth.gulimall.com/login.html" class="li_2">请登录</a>
                <a th:if="${session.loginUser != null}">欢迎, [[${session.loginUser.nickname}]]</a>
            </li>
            <li>
                <a th:if="${session.loginUser == null}" href="http://cart.gulimall.comhttp://auth.gulimall.com/reg.html" style="color: red;">免费注册</a>
            </li>

            <li>
                <a href="http://cart.gulimall.com/javascript:;">我的订单</a>
            </li>


        </ul>

    </div>
</div>

<div class="nav-tabs-justified">
    <div class="nav_wrap">

        <div class="nav_top">
            <div class="nav_top_one">
                <a href="http://cart.gulimall.comhttp://gulimall.com/"><img src="http://cart.gulimall.com/static/cart/img/logo1.jpg" style="height: 60px;width:180px;"/></a>
            </div>
            <div class="nav_top_two"><input type="text"/>
                <button>搜索</button>
            </div>


        </div>

    </div>
</div>

<div class="main">

    <div class="success-wrap">
        <div class="w" id="result">
            <div class="m succeed-box">
                <div th:if="${orderSn != null}" class="mc success-cont">
                    <h1>恭喜秒杀成功 订单号 [[${orderSn}]]</h1>
                    <h2>正在准备订单数据 10秒钟后自动跳转支付
                        <a style="color: red" th:href="${'http://order.gulimall.com/aliPayOrder?orderSn=' + orderSn}">点击支付</a>
                    </h2>
                </div>
                <div th:if="${orderSn == null}">
                    <h1>手气不好 秒杀失败 下次再来</h1>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="text/javascript" src="http://cart.gulimall.com/static/cart/js/success.js"></script>

</html>
