* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

a {
  color: black; }

header {
  width: 1100px;
  height: 58px;
  margin: 0 130px;
  position: relative;
  top: 10px; }
  header p {
    margin-left: 215px;
    margin-top: -45px;
    font-weight: 400;
    font-size: 24px; }
  header .top-1 {
    float: left;
    position: absolute;
    top: 40px;
    left: 950px; }
    header .top-1 img {
      float: left;
      position: absolute;
      top: 4px; }
    header .top-1 span {
      font-size: 12px;
      color: gray;
      margin-left: 25px; }

.top-2 {
  width: 1366px;
  height: 35px;
  background: #FFF8F0;
  margin-top: 15px; }
  .top-2 .top-2a {
    float: left;
    height: 35px;
    line-height: 35px; }
    .top-2 .top-2a img {
      float: left;
      position: absolute;
      left: 255px;
      top: 82px; }
    .top-2 .top-2a p {
      font-size: 12px;
      margin: 0 280px;
      color: gray; }
    .top-2 .top-2a span {
      font-size: 12px;
      font-weight: 600;
      color: black; }

.top-3 {
  width: 1365px;
  background: #E93854;
  position: relative; }
  .top-3 .img_1 {
    width: 990px;
    height: 475px;
    margin: 0 auto; }
  .top-3 #sign {
    width: 350px;
    height: 428px;
    background: #fff;
    position: absolute;
    top: 28px;
    left: 800px;
    z-index: 11; }
    .top-3 #sign .si_top {
      width: 100%;
      height: 40px;
      line-height: 40px;
      background: #fff8f0 url(../JD_img/4de5019d2404d347897dee637895d02b_11.png) no-repeat 13px center;
      font-size: 12px;
      text-align: center;
      color: #999999; }
    .top-3 #sign .si_cen {
      color: #F4F4F4;
      border-bottom: 1px solid #f4f4f4;
      width: 100%;
      line-height: 50px;
      position: relative;
      z-index: 1111; }
      .top-3 #sign .si_cen h2 {
        color: #666;
        float: left;
        width: 48%;
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        font-size: 18px; }
      .top-3 #sign .si_cen span {
        float: left; }
      .top-3 #sign .si_cen .act {
        color: red;
        font-weight: 700; }
    .top-3 #sign .tab {
      display: none; }
    .top-3 #sign .si_bom {
      position: relative; }
      .top-3 #sign .si_bom:hover .bom_1 {
        transform: translateX(-80px); }
      .top-3 #sign .si_bom:hover .bom_2 {
        opacity: 1; }
      .top-3 #sign .si_bom .bom_1 {
        margin-left: 95px;
        margin-top: 20px;
        padding: 2px 3px;
        border: 1px solid #F4F4F4;
        transition: all .5s; }
      .top-3 #sign .si_bom .bom_2 {
        position: absolute;
        top: 60px;
        left: 195px;
        opacity: 0;
        z-index: 111;
        transition: all 1s; }
      .top-3 #sign .si_bom h6 {
        color: #666666;
        margin: 10px 0 5px 100px; }
        .top-3 #sign .si_bom h6 span {
          padding-right: 10px; }
      .top-3 #sign .si_bom p {
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin: 10px 0;
        text-align: center; }
        .top-3 #sign .si_bom p span {
          font-size: 14px;
          margin-right: 15px; }
          .top-3 #sign .si_bom p span a {
            color: #bfa6b3; }
        .top-3 #sign .si_bom p img {
          vertical-align: middle; }
    .top-3 #sign .si_bom1 {
      width: 100%;
      height: 257px;
      position: relative; }
      .top-3 #sign .si_bom1 .error {
        position: absolute;
        top: -25px;
        left: 30px;
        z-index: 111;
        font-size: 12px;
        color: #e4393c;
        padding-left: 30px;
        border: 1px solid #faccc6;
        line-height: 20px;
        height: 20px;
        padding-right: 85px;
        background: #ffebeb;
        display: none; }
        .top-3 #sign .si_bom1 .error div {
          width: 16px;
          height: 16px;
          float: left;
          margin-right: 12px;
          margin-top: 2px;
          background: url(../JD_img/pwd-icons-new.png) -104px -49px no-repeat; }
      .top-3 #sign .si_bom1 ul {
        width: 100%; }
        .top-3 #sign .si_bom1 ul .top_1 {
          margin-top: 75px; }
        .top-3 #sign .si_bom1 ul li {
          width: 253px;
          height: 40px;
          line-height: 40px;
          margin: 30px 30px; }
          .top-3 #sign .si_bom1 ul li input {
            width: 211px;
            height: 38px;
            float: left;
            border: 1px solid #999;
            outline: none;
            border-left: none !important; }
          .top-3 #sign .si_bom1 ul li img {
            vertical-align: middle;
            float: left; }
          .top-3 #sign .si_bom1 ul li button {
            width: 100%;
            height: 40px;
            color: snow;
            border: none;
            background: #FF0000;
            position: relative;
            outline: none;
            cursor: pointer; }
            .top-3 #sign .si_bom1 ul li button a {
              display: inline-block;
              width: 100%;
              height: 40px;
              position: absolute;
              top: 0;
              left: 0;
              color: snow;
              font-size: 20px;
              line-height: 40px; }
          .top-3 #sign .si_bom1 ul li a {
            float: right; }
        .top-3 #sign .si_bom1 ul .bri {
          margin: 0 30px;
          height: 30px;
          margin-top: -10px; }
          .top-3 #sign .si_bom1 ul .bri a {
            font-size: 12px; }
          .top-3 #sign .si_bom1 ul .bri a:hover {
            color: red;
            text-decoration: underline; }
        .top-3 #sign .si_bom1 ul .ent {
          margin: 0 30px; }
    .top-3 #sign .red {
      color: red; }
    .top-3 #sign .si_out {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #F4F4F4; }
      .top-3 #sign .si_out ul {
        margin: 10px 25px; }
        .top-3 #sign .si_out ul li {
          margin: 0 8px;
          float: left;
          text-align: center; }
          .top-3 #sign .si_out ul li span {
            margin-right: 7px;
            font-size: 12px; }
          .top-3 #sign .si_out ul li img {
            vertical-align: middle; }
          .top-3 #sign .si_out ul li:hover a span {
            border-bottom: 1px solid red;
            color: red; }
        .top-3 #sign .si_out ul .f4 {
          color: #F4F4F4; }
      .top-3 #sign .si_out .rig {
        float: right; }
      .top-3 #sign .si_out h5 {
        padding-right: 20px; }
        .top-3 #sign .si_out h5 img {
          vertical-align: middle; }
        .top-3 #sign .si_out h5 a {
          color: red;
          font-size: 12px; }

footer {
  width: 1100px;
  height: 30px;
  margin: 6px 220px; }
  footer ul {
    width: 1100px;
    float: left; }
    footer ul li {
      float: left;
      margin: 8px; }
    footer ul a {
      font-size: 12px;
      color: dimgray; }
    footer ul li a:hover {
      color: red; }
    footer ul .little {
      font-size: 10px;
      line-height: 22px; }
  footer span {
    font-size: 12px;
    color: dimgray;
    margin: -15px 335px; }

/*# sourceMappingURL=JD1.css.map */
