@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
a {
    color: black;
}

//顶部logo
header {
    width: 1100px;
    height: 58px;
    margin: 0 130px;
    position: relative;
    top: 10px;
    p {
        margin-left: 215px;
        margin-top: -45px;
        font-weight: 400;
        font-size: 24px;
    }
    .top-1 {
        float: left;
        position: absolute;
        top: 40px;
        left: 950px;
        img {
            float: left;
            position: absolute;
            top: 4px;
        }
        span {
            font-size: 12px;
            color: gray;
            margin-left: 25px;
        }
    }
}

.top-2 {
    width: 1366px;
    height: 35px;
    background: #FFF8F0;
    margin-top: 15px;
    .top-2a {
        float: left;
        height: 35px;
        line-height: 35px;
        img {
            float: left;
            position: absolute;
            left: 255px;
            top: 82px;
        }
        p {
            font-size: 12px;
            margin: 0 280px;
            color: gray;
        }
        span {
            font-size: 12px;
            font-weight: 600;
            color: black;
        }
    }
}
//大图
.top-3 {
    width: 1365px;
    background: #E93854;
    position: relative;
    .img_1{
        width: 990px;
        height: 475px;
        margin: 0 auto;
        }
    #sign {
        width: 350px;
        height: 428px;
        background: #fff;
        position: absolute;
        top: 28px;
        left: 800px;
        z-index: 11;
        .si_top {
            width: 100%;
            height: 40px;
            line-height: 40px;
            background: #fff8f0 url(../JD_img/4de5019d2404d347897dee637895d02b_11.png) no-repeat 13px center;
            font-size: 12px;
            text-align: center;
            color: #999999;
        }
        .si_cen {
            color: #F4F4F4;
            border-bottom: 1px solid #f4f4f4;
            width: 100%;
            line-height: 50px;
            position: relative;
            z-index: 1111;
            h2 {
                color: #666;
                float: left;
                width: 48%;
                text-align: center;
                font-weight: 400;
                cursor: pointer;
                font-size: 18px;
            }
            span {
                float: left;
            }
            .act {
                color: red;
                font-weight: 700;
            }
        }
        .tab {
            display: none;
        }
        .si_bom {
            position: relative;
            &:hover .bom_1 {
                transform: translateX(-80px);
            }
            &:hover .bom_2 {
                opacity: 1;
            }
            .bom_1 {
                margin-left: 95px;
                margin-top: 20px;
                padding: 2px 3px;
                border: 1px solid #F4F4F4;
                transition: all .5s;
            }
            .bom_2 {
                position: absolute;
                top: 60px;
                left: 195px;
                opacity: 0;
                z-index: 111;
                transition: all 1s;
            }
            h6 {
                color: #666666;
                margin: 10px 0 5px 100px;
                span {
                    padding-right: 10px;
                }
            }
            p {
                width: 100%;
                height: 40px;
                line-height: 40px;
                margin: 10px 0;
                text-align: center;
                span {
                    font-size: 14px;
                    margin-right: 15px;
                    a {
                        color: #bfa6b3;
                    }
                }
                img {
                    vertical-align: middle;
                }
            }
        }
        .si_bom1 {
            width: 100%;
            height: 257px; 
            position: relative;
            .error{
               position: absolute;
               top: -25px;
               left: 30px;
               z-index: 111;
               font-size: 12px;
               color: #e4393c;
               padding-left: 30px;
                border: 1px solid #faccc6;
                line-height: 20px;
                height: 20px;
                padding-right: 85px;
                background: #ffebeb;
                display: none;
               div{
                   width: 16px;
                   height: 16px;
                   float: left;
                   margin-right: 12px;
                   margin-top: 2px;
                   background: url(../JD_img/pwd-icons-new.png) -104px -49px no-repeat;
               }
            }
            ul {
                width: 100%;
                .top_1{
                    margin-top: 75px;
                }
                li {
                    width: 253px;
                    height: 40px;
                    line-height: 40px;
                    margin: 30px 30px;
                    input {
                        width: 211px;
                        height: 38px;
                        float: left;
                        border: 1px solid #999;
                        outline: none;
                        border-left: none !important;
                    }
                    img {
                        vertical-align: middle;
                        float: left;
                    }
                    button {
                        width: 100%;
                        height: 40px;
                        color: snow;
                        border: none;
                        background: #FF0000;
                        position: relative;
                        outline: none;
                        cursor: pointer;
                        a{
                            display: inline-block;
                            width: 100%;
                            height: 40px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: snow;
                            font-size: 20px;
                            line-height: 40px;
                        }
                    }
                    a {
                        float: right;
                    }
                }
                .bri {
                    margin: 0 30px;
                    height: 30px;
                    margin-top: -10px;
                    a{font-size: 12px;}
                    a:hover {
                        color: red;
                        text-decoration: underline;
                    }
                }
                .ent {
                    margin: 0 30px;
                }
            }
        }
        .red {
            color: red;
        }
        .si_out {
            width: 100%;
            height: 40px;
            line-height: 40px;
            border-top: 1px solid #F4F4F4;
            ul {
                margin: 10px 25px;
                li {
                    margin: 0 8px;
                    float: left;
                    text-align: center;
                    span {
                        margin-right: 7px;
                        font-size: 12px;
                    }
                    img {
                        vertical-align: middle;
                    }
                    &:hover a span{border-bottom: 1px solid red;color: red;}
                }
                .f4 {
                    color: #F4F4F4;
                }
            }
            .rig {
                float: right;
            }
            h5 {
                padding-right: 20px;
                img {
                    vertical-align: middle;
                }
                a {
                    color: red;
                    font-size: 12px;
                }
            }
        }
    }
}

//底部
footer {
    width: 1100px;
    height: 30px;
    margin: 6px 220px;
    ul {
        width: 1100px;
        float: left;
        li {
            float: left;
            margin: 8px;
        }
        a {
            font-size: 12px;
            color: dimgray;
        }
        li a:hover {
            color: red;
        }
        .little{font-size: 10px;line-height: 22px;}
    }
    span {
        font-size: 12px;
        color: dimgray;
        margin: -15px 335px;
    }
}